# For format see editorconfig.org
# Copyright 2022 Collabora Ltd.
# SPDX-License-Identifier: MIT

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
tab_width = 8

[{*.py,*.sh,*.yml,meson.build}]
indent_size = 4
indent_style = space

[{*.c,*.h}]
indent_size = 2
indent_style = space

[Makefile.am]
indent_size = 8
indent_style = tab

[*.md]
indent_size = 4
indent_style = space
tab_width = 4
